header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
}

p {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

input {
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 130px;
}